package view

import "github.com/jklq/project-tracker/internal/db"

templ AssignedTicketsView(template templ.Component, tickets []db.Ticket) {
	@template {
		<div class="max-w-screen-lg py-10 ml-10 pt-6">
			<div class="flex items-end mb-5 h-8">
				<h1 class="flex-grow text-2xl font-serif">Your Tickets</h1>
			</div>
			@ticketList(tickets)
		</div>
	}
}
