package view

import (
	"github.com/jklq/bug-tracker/db"
)

templ AssignedTicketsView(template templ.Component, tickets []db.Ticket) {
	@template {
		<div class="max-w-screen-lg p-10 pt-14">
			<div class="flex items-end mb-5 ">
				<h1 class="flex-grow font-bold text-2xl">Your Tickets</h1>
			</div>
			@ticketList(tickets)
		</div>
	}
}
